.createidentitypage {
  .main-container {
    width: 502px;
    height: 680px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000015;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 19px;
    padding: 47px;
    display: flex;
    flex-direction: column;
    top: 25%;
    right: 7%;
    position: absolute;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font: normal normal bold 38px/44px Open Sans;
    letter-spacing: 0px;
    color: #0F358E;
    opacity: 1;
    margin-top: 5%;
  }

  p {
    font: normal normal normal 16px/19px Open Sans;
    letter-spacing: 0px;
    color: #595F6F;
    opacity: 1;
  }

  .mnemonic-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 10px;

    .mnemonic {
      width: 90%;
      position: relative;
      height: 41px;
      border-radius: 5px;
      border: 1px solid #bfc4ce;
      padding-top: 9px;
      font: normal normal 600 16px/19px Open Sans;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: normal;
      text-align: center;
      color: #0f358e;
  
      .number {
        position: absolute;
        left: -16px;
        top: 7px;
        width: 28px;
        height: 28px;
        background-color: #F5F5FA;
        color: #0f358e;
        border-radius: 50%;
        border: 1px solid #bfc4ce;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
      } 
    }   
  }

  .warning-emphasis {
    width: 397px;
    height: 114px;
    background: rgba(201, 72, 188, 0.25) 0% 0% no-repeat padding-box;
    border-radius: 16px;

    .text {
      text-align: center;
      font: normal normal 600 16px/19px Open Sans;
      letter-spacing: 0px;
      color: #595F6F;
      opacity: 1;
    }    
  }

  .warning-light {
    width: 397px;
    height: 114px;
    background: none 0% 0% no-repeat padding-box;
    border-radius: 16px;    
    
    .text {
      text-align: center;
      font: normal normal 600 16px/19px Open Sans;
      letter-spacing: 0px;
      color: #595F6F;
      opacity: 1;
    }
  }  

  .consent {
    --border-style: none;

    .text {
      text-align: center;
      font: normal normal 600 16px/19px Open Sans;
      letter-spacing: 0px;
      color: #595F6F;
      opacity: 1;
    }

    .checkbox-label {
      margin-inline-end: 0;
    }
  }
}
