.did {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 2em;
  min-height: 65%;

  .clip-avatar-svg {
    clip-path: url(#avatarClip);
  }

  .card-title {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    text-align: left;
    color: #000000;
  }

  .card-content {
    font-family: 'SF Pro Display';
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #425466;
  }

  .badge-item {
    border-radius: 16px;
    border: 1px solid #efefef;
    --inner-border-width: 0;
    margin: 0em 1em;
    padding: 12px 0;
    font-family: 'SF Pro Display';

    .did-card-wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .card-data {
      padding: 0.5em;
      width: 60%;

      .name-value {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: left;
        color: #27272e;
        display: block;
      }

      .did-value {
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.79;
        letter-spacing: normal;
        text-align: left;
        color: rgba(50, 50, 71, 0.3);
        display: flex;

        & img {
          margin-right: 4px;
          background-color: transparent;
        }
      }
    }

    img {
      width: auto;
      background-color: #edf2f7;
    }
  }

  .badge-bg {
    width: 30.2px;
    height: 30.2px;
    background-color: #d9dbe2;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    margin: 7px 0px -5px 30px;
    border-radius: 7px;
    text-align: center;
  }

  .card-link {
    flex: auto;
    // float: right;
    margin: auto;
    font-family: 'SF Pro Display';
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: var(--theme-primary-blue);
    display: flex;
    justify-content: flex-end;

    .card-link-inner {
      border-radius: 8px;
      border: solid 1px #4c6fff;
      flex-grow: 0;
      padding: 0.5em 1.5em;
      cursor: pointer;
      opacity: 1;
      width: fit-content;

      &:hover {
        background: #f7fafc;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        margin-left: 1rem;
      }
    }

    .card-link-unfollow {
      border: 1px solid #edf2f7;
    }
  }

  &.col-3 {
    display: flex;

    .did-card-wrapper {
      flex-direction: column;
    }

    .card-link {
      margin: 0 8px;
      width: fit-content;
    }
  }
}
