/** All your component stuyles */
.profilecomponent {
  min-height: 200px;
  height: calc(100% - 83px);
  background-color: white;
  box-shadow: 0px 3px 3px #00000005;
  border-radius: 19px 19px 0px 0px;
}

.fixed {
  z-index: 1000;
  width: calc(100%);
  background-color: #f7fafc;
  margin: none;
  --ion-grid-padding: 0px;
  transition: 0.2s;
}

.scroll {
  width: 100%;
  z-index: 100;
  background-color: #f7fafc;
}

.dashboard {
  background-color: rgb(206, 129, 28);
}

.center {
  text-align: center;
  margin-top: 20px;
}
