/** All your component stuyles */
.todolist{
    font-family: 'Open Sans', sans-serif;
    min-width: 253px;
    font-stretch: normal;
    font-style: normal;
    --ion-grid-padding: 0;
    img {
        width: 15.2px;
    }
    ion-row {
        align-items: center;
    }
    .btn-expand {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.71;
        letter-spacing: 0.13px;
        color: #363291;
        margin: 0;
        background-color: transparent !important;
        padding: 0;
        outline: none;
    }
    &_title {
        margin-top: 0px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.14px;
        text-align: left;
        color: rgba(0, 0, 0, 0.87);
        margin-bottom: 17px;
    }
}