.create-profile {
  .connect-divider {
    margin-top: 30px;
    width: 100%;
    position: relative;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &_line {
      background-color: #edf2f7;
      width: 100%;
      height: 1px;
      margin: 0;
    }
    &_txt {
      font-size: 10px;
      line-height: 12px;
      color: #7a7a9d;
      position: absolute;
      padding-left: 24px;
      padding-right: 24px;
      background-color: white;
    }
  }
  .social-btn-group {
    margin-top: 22px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
