

.textinput {
  margin-top: 5px;
  &_label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    //color: var(--text-body-light);
    font-family: 'SF Pro Display';
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #425466;
    
  }
  &_field {
    width: 90%;
    height: 32.7px;
    margin-top: 8px;
    background: #edf2f7;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
      0px 0px 1px rgba(50, 50, 71, 0.2);
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    font-family: 'SF Pro Display';
    letter-spacing: normal;
    text-align: left;
    color: #6b829a;
    --padding-bottom: 8px;
    --padding-top: 9px;
    --padding-end: 16px;
    --padding-start: 16px;
    --placeholder-color: var(--input-muted-placeholder);
  }

  ion-label{
    text-align: left;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  .textinput {
    margin-top: 12px;
  }

  .textinput_label {
    
    margin: 0 12px 0 0;
  }
  .textinput_field {
    margin: 0 25px 0 0;
  }
}

.hasError {
  input {
    border-bottom: 1px solid red !important;
  }
}
