.blank-card {
  border-radius: 20px;
  width: 100%;
  .card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0px 100px 0px;

    ion-row {
      margin: 3px 0px;
    }

    h3 {
      color: #27272e;
      font-size: 20px;
      font-weight: 600;
      line-height: 136.52%;
    }
    h4 {
      color: #27272e;
      font-size: 14px;
      font-weight: normal;
      line-height: 162.502%;
    }
  }
}
