option_settings:
  "aws:autoscaling:launchconfiguration":
    InstanceType: t2.small
  "aws:elasticbeanstalk:application:environment":
    SECRET_KEY: "profile-api-secret-key"
    ASSIST_API_URL: "https://assist-restapi.tuum.tech"
    ASSIST_SECRET_KEY: "assist-restapi-secret-key"
    VOUCH_API_URL: "https://vouch-app-restapi.tuum.tech"
    VOUCH_SECRET_KEY: "vouch-restapi-secret-key"
    DIDCREDS_API_URL: "https://did-validator.tuum.tech"
    DIDCREDS_SECRET_KEY: "didcreds-validator-secret-key"
    TUUMVAULT_API_URL: "https://vault.tuum.tech"
    TUUMVAULT_MNEMONIC: "curious push water point border mutual install govern message ordinary fish small"
    TUUMVAULT_DID: "did:elastos:iag8qwq1xPBpLsGv4zR4CmzLpLUkBNfPHX"
    TUUMVAULT_APP_DID: "did:elastos:iag8qwq1xPBpLsGv4zR4CmzLpLUkBNfPHX"
    TWITTER_API_KEY: "Hjq4sentVtXFOIoq4HbxzzHP3"
    TWITTER_API_SECRET: "dE1ZDr4ggQI0swwNIRafcrpYJE2MXL0JaUd6y4r8uF2nBaAn4A"
    TWITTER_CALLBACK_URL: "https://www.profile.site/twitter_callback"
    LINKEDIN_API_KEY: "86k8sv8vmcf7a3"
    LINKEDIN_API_SECRET: "MmP79dYDwkTcmLrv"
    LINKEDIN_CALLBACK_URL: "https://www.profile.site/linkedin_callback"
    GOOGLE_CLIENT_ID: "179332988978-h265abjkculn43blltsb8m479ak4kcli.apps.googleusercontent.com"
    GOOGLE_CLIENT_SECRET: "BqiZwXlxRRYDBLJIrO3IyzI0"
    GOOGLE_CALLBACK_URL: "https://www.profile.site/google_callback"
    FACEBOOK_CLIENT_ID: "717210715606347"
    FACEBOOK_CLIENT_SECRET: "349d7830a263c1bd8e51bb49ea5c7bab"
    FACEBOOK_CALLBACK_URL: "https://www.profile.site/facebook_callback"
    GITHUB_CLIENT_ID: "cfa46bb61bacb6464751"
    GITHUB_CLIENT_SECRET: "753183d619e70708eb0cd5d127c2e52e4cf3b6b2"
    GITHUB_CALLBACK_URL: "https://www.profile.site/github_callback"
    DISCORD_CLIENT_ID: "854056241512841216"
    DISCORD_CLIENT_SECRET: "fPCULQxyWD9tR7nDcXl9clbYpam9i0xS"
    DISCORD_CALLBACK_URL: "https://www.profile.site/discord_callback"
    EMAIL_VERIFICATION_CALLBACK: "https://www.profile.site/verify/email"
    EMAIL_UPDATE_CALLBACK: "https://www.profile.site/update/email"
    EMAIL_SENDER: "test@test.com"
    EMAIL_SMTP_SERVER: "smtp.example.com"
    EMAIL_SMTP_USERNAME: "support@example.com"
    EMAIL_SMTP_PASSWORD: "password"
    EMAIL_SMTP_PORT: "587"
    EMAIL_SMTP_TLS: "False"
    EMAIL_CONTACT: "contact@tuum.tech"
    GITHUB_API_TOKEN: "ghp_asdfASDasdfkDsadfasdf"
    GITHUB_API_USER: "kpachhai"