.img-card {
  background: url('../../../../../../assets/dashboard/communitybg.png')
    no-repeat top right;
  background-size: cover !important;
  position: relative;
  padding: 28px 25px;

  p {
    color: white;
    margin-bottom: 9px;
  }

  .dark-txt {
    color: #bbbbbb !important;
    margin-bottom: 18px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}
