/** All your component stuyles */
.searchcomponent{
    position: relative;
    .search-input {
        margin-top: 5px;
        height: 40px;
        --background: #F5F5F5 0% 0% no-repeat padding-box;
        --placeholder-font-style: "Open Sans";
        font-size: 12px;
        border: none;
        --box-shadow: none;
      }

      // .search-result {
        // position: fixed;
        // z-index: 99999;
        // background: '#fff';
        // width: '300px';
        // margin-top: '-7px';
        // border-radius: '10px';
      // }

      // .search-item {
      //   font-family: 'Open Sans', sans-serif;
      //   font-size: 14px;
      // }                


}