.up-arrow-btn {
  width: 9em;
  background-color: var(--theme-primary-blue);
  border-radius: 8px;
  padding: 12.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 18px;
  }

  &_txt {
    // font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    margin-left: 10.71px;
  }
}

.dark-mode {
  &.up-arrow-btn {
    background-color: var(--txt-heading-dark) !important;
  }
}
