/** All your component stuyles */

.tab-list {
  background: #f7fafc;
}

.tab-grid {
  background: #f7fafc;
  min-height: 100%;
  padding: 5px 30px;
}

.searchcomponent {
  position: relative;
  height: 5em;

  .search-input {
    width: 50%;
    height: 100%;
    margin-left: 1em;
    border: none;
    --box-shadow: none;
    padding: 0;
    border-radius: 9px;
    --placeholder-font-style: 'SF Pro Display';
    font-family: 'SF Pro Display';
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #16192c;
    --placeholder-color: #b5b5bd;

    @media (max-width: 575.98px) {
      width: 92%;
    }

    input {
      box-shadow: none;
      background: #edf2f7;
      border: 1px solid #edf2f7;
      border-radius: 9px;

      &:focus {
        background: #fff;
        border: 1px solid #ececec;
      }
    }

    .active {
      color: #16192c;
    }
  }
}
