.didsignform {
  .didsignform-col {
    position: relative;
  }
  .inputIndex {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // line-height: 17px;
    line-height: 46px;
    color: #425466;

    position: absolute;
  }
}
