.sticky {
  z-index: 100;
  .tab-grid {
    background: #f7fafc;
  }
  .tab-list {
    background: #f7fafc;
    padding: 15px 0px 0px 15px;
  }
  .tab-item {
    cursor: pointer;
    --border-color: #f7fafc;
    --inner-border-width: 0 0 2px 0;
    display: inline-block;
    --background: #f7fafc;
    --inner-padding-bottom: 0 !important;

    font-weight: 600;
    color: #718096;
  }
  .tab-active {
    --border-color: var(--theme-primary-blue);
    color: #1a202c;
  }
  .tab-label {
    font-family: 'SF Pro Display';
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 10px;
    font-size: 14px;
  }
}
