@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/FontsFree-Net-SFProDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter.ttf');
  font-weight: 600;
  font-style: normal;
}
