@import '_fonts.scss';
@import '~bootstrap/scss/bootstrap';
@import '~toastr/toastr.scss';

.my-25px {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-28px {
  margin-top: 28px;
}

.mt-18px {
  margin-top: 18px;
}

.mt-12px {
  margin-top: 12px !important;
}

.mt-86px {
  margin-top: 86px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0px;
}

html,
body {
  font-family: 'SF Pro Display';
  font-style: normal;
}

p {
  margin: 0;
}

.bg-danger {
  background-color: var(--theme-danger-blue);
}

a {
  text-decoration: none;
}
