.name {
  text-align: left;
  margin-top: 10px;
  h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #27272e;
    margin-bottom: 0px;
  }
  h2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #27272e;
    margin-bottom: 0px;
  }
}
.price {
  text-align: right;
  margin-top: 10px;
  h1 {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #27272e;
    margin-bottom: 0px;
    img {
      margin: 0px 5px;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #27272e;
    margin-bottom: 0px;
  }
}
