.overview {
  background-color: #fff;
  border-radius: 15px;
  min-height: 250px;
  box-shadow: none;
  padding-bottom: 15px;

  ion-card-title {
    font-family: 'SF Pro Display';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    text-align: left;
    color: #27272e;
  }

  // .card-content {
  // }

  // .card-button {
  // }
}
