/** All your component stuyles */
.profilecompletion{

   
    h1 {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #000000DE;
        margin-left: 19px;
    }
}