.confirmmnemonicpage {

  .header-md{ 
    &:after {
      background-image: none;
    }
  }
  
  .main-container {
    width: 502px;
    height: 680px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 3px #00000015;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 19px;
    padding: 47px;
    display: flex;
    flex-direction: column;
    top: 25%;
    right: 7%;
    position: absolute;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font: normal normal bold 36px/44px Open Sans;
    letter-spacing: 0px;
    color: #0F358E;
    opacity: 1;
    margin-top: 5%;
  }

  p {
    font: normal normal normal 16px/19px Open Sans;
    letter-spacing: 0px;
    color: #595F6F;
    opacity: 1;
  }

  .hide {
    visibility: hidden;
  }

  .mnemonic-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 10px;

    .mnemonic {
      width: 90%;
      position: relative;
      height: 41px;
      border-radius: 5px;
      border: 1px solid #bfc4ce;
      padding-top: 9px;
      font: normal normal 600 16px/19px Open Sans;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.58;
      letter-spacing: normal;
      text-align: center;
      color: #0f358e;
  
      .number {
        position: absolute;
        left: -16px;
        top: 7px;
        width: 28px;
        height: 28px;
        background-color: #F5F5FA;
        color: #0f358e;
        border-radius: 50%;
        border: 1px solid #bfc4ce;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
      }
      
      .number-dark {
        position: absolute;
        left: -16px;
        top: 7px;
        width: 28px;
        height: 28px;
        background-color: #363291;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #bfc4ce;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
      }       
    }   
  }

  .mnemonic {
    width: 90%;
    position: relative;
    height: 41px;
    border-radius: 5px;
    border: 1px solid #bfc4ce;
    // border-left: none;
    padding-top: 9px;
    font: normal normal 600 16px/19px Open Sans;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: center;
    color: #0f358e;
    --padding-start: 0;

    .number {
      position: absolute;
      left: -16px;
      top: 7px;
      width: 28px;
      height: 28px;
      background-color: #F5F5FA;
      color: #0f358e;
      border-radius: 50%;
      border: 1px solid #bfc4ce;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    } 
  }

  .shuffled {
    width: 30%;
    display: inline-block;
    margin: 0.2em;
    cursor: pointer;
    &:hover {
      background: #363291;
      color: #fff;
    }    
  }

  /* dummy for now, remove it once functional */
  // .link {
  //   cursor: pointer;
  //   input {
  //     cursor: pointer!important;
  //   }
  // }  

  // .warning-emphasis {
  //   width: 397px;
  //   height: 114px;
  //   background: rgba(201, 72, 188, 0.25) 0% 0% no-repeat padding-box;
  //   border-radius: 16px;

  //   .text {
  //     text-align: center;
  //     font: normal normal 600 16px/19px Open Sans;
  //     letter-spacing: 0px;
  //     color: #595F6F;
  //     opacity: 1;
  //   }    
  // }

  // .warning-light {
  //   width: 397px;
  //   height: 114px;
  //   background: none 0% 0% no-repeat padding-box;
  //   border-radius: 16px;    
    
  //   .text {
  //     text-align: center;
  //     font: normal normal 600 16px/19px Open Sans;
  //     letter-spacing: 0px;
  //     color: #595F6F;
  //     opacity: 1;
  //   }
  // }  



  .text {
    text-align: center;
    font: normal normal 600 16px/19px Open Sans;
    letter-spacing: 0px;
    color: #595F6F;
    opacity: 1;
  }

  .error {
    text-align: center;
    font: normal normal 600 16px/19px Open Sans;
    letter-spacing: 0px;
    color: #D92323;
    opacity: 1;
  }

  .btn-disabled {
      --background: none !important;        
      background: #C9C9C9 0% 0% no-repeat padding-box !important;
  }

}
