.profileheadersticky {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  padding: 20px;

  // .clip-avatar-svg {
  //   clip-path: url(#avatarClip);
  // }

  // .profile-img {
  //   max-width: 5.5em;
  //   border: 3px solid var(--theme-primary-blue);
  //   border-radius: 1.5em 2em 1.5em 2em;
  //   padding: 3px;
  // }

  // .view-profile-btn {
  //   display: flex;
  //   justify-content: flex-end;
  // }
}
