.container { 
    .toc-card {
        background: #f3f9ff;
        border-radius: 9.5px;
        margin: 15px 0;
        padding: 10px;
    }
    .card-title-ls {
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -0.005em;
        color: #27272e;
    }
}