.profilepage {

  background-color: #fafaff;
  min-height: 200px;
  height: 100%;
  margin-top: 100px;

  .profilecontent {
    min-height: 800px;  
    background-color: #fafaff;
  }

 
  .counter {
    text-align: center;
    font-size: 56px;
  }

  .simple-resp {
    color: #899092;
    font-style: italic;
  }

  .left-panel {
   
    background-color: #fafaff;
  }

  .right-panel {
    background-color: #fafaff;
  }
}
