/** All your component stuyles */
.followinglist{
    min-height: 200px;
    background-color: green;

    h1 {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #000000DE;
        margin-left: 10px;
    }

}