@import '../../../../styles/variables';

.community {
  padding-top: 108px;

  @media only screen and (max-width: 600px) {
    padding-top: 50px;
  }
}

.community-title {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 65px;
  text-align: center;

  background: -webkit-linear-gradient(#995aff, #dc59bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.monetize {
  background-position: center;
  background-size: cover;
  background-color: #04032B;
  margin-top: 130px;
  background-repeat: no-repeat;
  padding-top: 156px;
  padding-bottom: 156px;
  padding-left: 9%;
  padding-right: 9%;
  width: 100%;
  min-height: 729px;
  @media only screen and (max-width: 600px) {
    margin-top: 55px;
    padding: 0;
    background-size: 100%;
    background-position: initial;
    min-height: auto;
  }
}

.button {
  margin-right: 17px;
  min-height: 55px;
  background-color: #F7FAFC;
  margin-bottom: 10px;
}
.row {
  margin-top: 80px;
  margin-bottom: 45px;
  @media only screen and (max-width: 600px) {
    margin-top: 55px;
    margin-bottom: 35px;
  }
}