.people {
  .tab-card {
    border-radius: 16px;
    background: #fff;
    overflow: visible;
  }

  .pagination-footer {
    justify-content: space-between;
    align-items: center;
    padding: 0px 21px;
    padding-bottom: 16px;

    .pagination {
      font-family: 'SF Pro Display';
      text-align: center;
      color: #4c6fff;
      padding: 0;
      margin-bottom: 0px;

      li {
        display: inline;
        padding: 0.3em;
      }
      .page-active {
        font-weight: 800;
      }
    }

    .page-count-select {
      display: flex;
      align-items: center;

      & > div {
        margin-right: 11px;
      }
    }
  }
}
