.navbar {

    width: 100%; 
    line-height: 50px;
    text-align: right;

    img {
        vertical-align: middle;
    }

    a {
        padding-left: 15px;
    }

    p {
        height: 100%;
        margin-left: 680px;
        letter-spacing: 0px;
        color: #FFF !important;
        opacity: 1;
        line-height: 50px;
        font: 'normal normal 600 14px/34px Open Sans';        
    }
}