.navbar {

    .links {
        height: '100%';
        margin-left: '550px';
        letter-spacing: '0px';
        color: '#FFF';
        opacity: '1'; 
        line-height: '50px';
        font: 'normal normal 600 14px/34px Open Sans';
    }

}