/** All your component stuyles */
.profileheader{
    min-height: 100px;
    max-height: 200px;
   

    .name {
        text-align: left;
        font-family: normal normal 600 19px/26px Open Sans;
        color: #363291;
        opacity: 1;
    }
}

.name {
    text-align: left;
    font-family: normal normal 600 19px/26px Open Sans;
    color: #363291;
    opacity: 1;
}

