@import '../../../../styles/_variables.scss';

.item-active {
  // border-left: 3px solid var(--theme-primary-blue);
  color: var(--theme-primary-blue);
  --inner-border-width: 0;
  --background: rgba(76, 111, 255, 0.05);
}

.item-link {
  // border-left: 3px solid var(--theme-primary-blue);
  --inner-border-width: 0;
  cursor: pointer;
  color: var(--text-body-light);
}
