.form {
    &_title {
        margin-bottom: 15px;
    }
    &_footer {
        position: absolute;
        bottom: 15px;
        right: 50%;
        transform: translateX(50%);
        width: 350px;
        text-align: center;
    }
}