.modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  &_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_content {
    background: #ffffff;
    border-radius: 16px;

    padding: 20px 20px 30px;
    display: block;

    max-width: 587px;
    width: 90%;
    min-height: 200px;
  }

  &_title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 136.02%;
    color: #27272e;
    margin-bottom: 10px;
    text-align: center;
  }
}

.userRow {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20px;

  &_info {
    flex-grow: 1;
    padding: 0 15px;

    .name {
      font-family: 'SF Pro Display';
      font-size: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: normal;
      text-align: left;
      color: #27272e;
    }
    .truncatedDID {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      font-family: 'SF Pro Display';
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.62;
      letter-spacing: normal;
      text-align: left;
      color: #979797;
    }
  }
}

.searchcomponent {
  position: relative;
  height: 50px;
  margin-top: 15px;

  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    --box-shadow: none;
    padding: 0;
    border-radius: 9px;
    --placeholder-font-style: 'SF Pro Display';
    font-family: 'SF Pro Display';
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #16192c;
    --placeholder-color: #b5b5bd;

    input {
      box-shadow: none;
      background: #edf2f7;
      border: 1px solid #edf2f7;
      border-radius: 9px;

      &:focus {
        background: #fff;
        border: 1px solid #ececec;
      }
    }

    .active {
      color: #16192c;
    }
  }
}

.scrollableContent {
  margin-top: 20px;
  height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}
