.badge-card {
    border-radius: 16px;
    margin-bottom: 20px;
    .badge-card-header {
        display: flex;
        justify-content: space-between;

        padding: 25px 30px;
    }
    .badge-category-name {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }
}