.security-view {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    font-feature-settings: "salt" on;
    color: #425466;
    width: 100%;

    .security-view-row {
        padding-left: 30px;
    }

    .security-view-error {
        --background: #FF5A5A;
        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: #ffffff;
        float: right;
        
    }

    .security-view-col {
        height: 36px;
        width: 275px;
        background: #edf2f7;
        border-radius: 6px;
        padding-top: 8px;
        margin-bottom: 8px;
        padding-bottom: 8px;
        
    }
    .tutorial-words-error{
        float: left;
        color: #FF5A5A;
      }
    
    .security-view-col-error{
        background: #FFECEC !important;
    }

    .security-view-number {
        display: inline;
        margin-left: 15px;
        text-align: left;
        font-weight: bold;
    }

    .security-view-word {
        display: inline-block;
        width: 235px;
        height: 30px;
        text-align: left;
        padding-left: 15px;
    }

    .security-view-textinput {
        width: 75%;
        height: 100%;
        display: inline-block;
        background: transparent;
        color: var(--input-default-text);
        --padding-bottom: 5px;
        --padding-top: 5px;
        --padding-end: 5px;
        --padding-start: 5px;
        --placeholder-color: var(--input-muted-placeholder);
    }

    .mnemonics-verification-error {
        margin-top: 15px;
        background: #ff5a5a;
        border-radius: 10px;
        width: 389px;
        height: 73px;

        font-family: "SF Pro Display";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
        font-feature-settings: "salt" on;
        color: #ffffff;

        ion-item {
            --background: rgba(0, 0, 0, 0);
            --border-color: rgba(0, 0, 0, 0);
            --color: #ffffff;
            ion-thumbnail {
                width: 44px;
                height: 44px;
                img {
                    width: auto !important;
                    height: auto !important;
                }
            }

            .item-text{
                width: 100%;
                flex-grow: 2;
                p{
                    font-family: "SF Pro Display";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 23px;
                    font-feature-settings: 'salt' on;
                    text-align: left;
                    color: #E4ECF7; 
                }
            }
            

            .item-clear{
                width: auto;
                font-family: "SF Pro Display";
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                font-feature-settings: 'salt' on;
                color: #E4ECF7; 
                flex: 0 0 80px;
                text-align: right;
                cursor: pointer;
            }

        }

        
    }
}
