.arrow-btn {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.bg-white {
  background-color: white !important;
}
