.logo-btn {
  margin-top: 53.84px;
  width: 100%;
  border-radius: 8px;
  padding: 12.68px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45.63px;

  img {
    width: 25.29px;
  }

  &_txt {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    margin-left: 10.71px;
  }
}

.blue-mode {
  &.logo-btn {
    background-color: var(--theme-primary-blue) !important;
  }
}

.dark-mode {
  &.logo-btn {
    background-color: var(--txt-heading-dark) !important;
  }
}

.danger-mode {
  &.logo-btn {
    background-color: var(--theme-danger-blue) !important;
  }
}
