@import '../../../../styles/variables';

.hero-container {
  background-color: $dark-dark-purple;
  width: 100%;
  min-height: 400px;
}

.mobile-nav {
  a {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: white;

    margin: 12px 0;
  }

  .pink {
    background: $dark-pink-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
