.avatar {
  width: 48px;
  height: 48px;

  img {
    width: 48px;
    height: 48px;
  }

  .border-primary {
    max-width: 5.5em;
    border: 3px solid var(--theme-primary-blue);
    border-radius: 1.5em 2em 1.5em 2em;
    padding: 3px;
  }

  .border-danger {
    max-width: 5.5em;
    border: 3px solid var(--theme-danger-blue);
    border-radius: 1.5em 2em 1.5em 2em;
    padding: 3px;
  }
}
