.tutorial-component {
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  font-family: 'SF Pro Display';

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }

  text-align: center;

  ion-grid {
    background-color: transparent !important;
    height: 100%;
    ion-row {
      background-color: transparent !important;
      height: 100%;
    }
  }

  .tutorial-button {
    --ion-color-primary: #4c6fff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    position: absolute;
    left: 85px;
    bottom: 40px;

    width: 300px;
  }

  .tutorial-button-disabled {
    --ion-color-primary: #4c6fff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    position: absolute;
    left: 85px;
    bottom: 40px;

    width: auto;
  }

  .tutorial-col-left {
    // border-radius: 19px 0px 0px 19px;

    color: #ffffff;
    padding: 0px 45px;

    p {
      margin-top: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }

    img {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  .tutorial-col-left-1 {
    @extend .tutorial-col-left;
    background-color: #4c6fff;
  }

  .tutorial-circle-1:before {
    background-color: #4c6fff;
  }

  .tutorial-circle-2:before {
    background-color: #26c9d1;
  }

  .tutorial-circle-3:before {
    background-color: #ff9840;
  }

  .tutorial-circle-4:before {
    background-color: #4c6fff;
  }

  .tutorial-col-left-2 {
    @extend .tutorial-col-left;
    background-color: #26c9d1;
  }

  .tutorial-col-left-3 {
    @extend .tutorial-col-left;
    background-color: #ff9840;
  }

  .tutorial-col-left-4 {
    @extend .tutorial-col-left;
    background-color: #4c6fff;
  }

  .tutorial-left-bottom {
    position: absolute;

    bottom: 45px;
    left: 0;
    right: 0;

    .tutorial-quit-button {
      @extend .tutorial-button;
      width: 137px;
      height: 32px;
      --ion-color-primary: #16192c1e;

      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }

  .tutorial-col-right {
    // border-radius: 0px 19px 19px 0px;
    background-color: #fbfbfd;
    text-align: left;
    padding: 85px;
    color: #27272e;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 162.02%;
      font-feature-settings: 'salt' on;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 136.02%;
    }
  }

  .tutorial-step-2 {
    p {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

.timeline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;

  ul {
    width: 100% !important;
  }

  ul:nth-child(1) {
    color: #4c6fff;
  }
}

.timeline li {
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  text-align: center;

  color: #ffffff;
}

.timeline li:before {
  content: ' ';
  width: 25px;
  height: 25px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 25px;
  margin: 0 auto 10px auto;
  background: transparent;

  transition: all ease-in-out 0.3s;
}

.timeline li:after {
  content: '';
  position: absolute;
  width: 100%;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  height: 1px;
  top: 12.5px;
  margin-left: -10px;

  transition: all ease-in-out 0.3s;
}

.timeline li.next:after {
  background-color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.timeline li:last-child:after {
  content: none;
  width: 0px;
  border: none;
}

.timeline li.active {
  color: #ffffff;
}
.timeline li.active:before {
  background: #ffffff;
  color: #ffffff;
}

.tutorial-hive {
  margin-top: 20px;
  width: 100%;

  ion-radio {
    --ion-color-primary: #4c6fff;
  }
  .tutorial-hive-row {
    display: flex;
    width: 450px;
    padding: 15px;

    ion-radio {
      float: left;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto;
    }

    ion-input {
      border-radius: 9px;
      border: 1px solid #dfdfdf;
      margin-left: 15px;
      width: 375px !important;
    }

    .tutorial-hive-item {
      margin-left: 15px;
      position: relative;
      background: #f7fafc;
      border: 1px solid #dfdfdf4f;
      border-radius: 16px;
      width: 380px;
      height: 81px;
      display: flex;
      justify-content: center;
      padding: 10px 15px;
      box-shadow: 1px 1px #dfdfdf4f;
      img {
        float: left;
        display: inline;
        border: 1px solid #ff9840;
        border-radius: 19px;
        width: 60px;
        padding: 2px;
      }
      h2 {
        width: 100%;
        display: block;
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        //line-height: 136.02%;
        color: #27272e;
        margin-top: 15px;
        margin-left: 10px;
      }
      .tutorial-hive-item-title {
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        font-feature-settings: 'salt' on;
        color: #000000;
        margin-top: 5px;
      }
      .tutorial-hive-item-description {
        line-break: before;
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 162.02%;

        display: flex;
        align-items: center;

        font-feature-settings: 'salt' on;

        color: #000000;
      }
      p {
        width: 100%;
      }
    }
  }
}

.tutorial-badge {
  margin: 0;
  position: absolute;
  top: 40%;
  bottom: 50%;

  img {
    display: block;
  }
  span {
    display: block;
  }
}

.tutorial-complete {
  position: absolute;
  left: 85px;
  bottom: 102px;
}
