.Progressbar {
    position: relative;
    height: 6px;
    border-radius: 3px;
    background-color: #e3dee3;
    clip-path: inset(0 0 0 0 round 3px);

    &_value {
        height: 6px;
        transition: width 0.4s ease-in-out;
        border-radius: 3px;
        background-image: linear-gradient(to right, #363291, #ba54b7);;
        will-change: width;
    }

    & > progress {
        opacity: 0;
        width: 1px;
        height: 1px;
        position: absolute;
        pointer-events: none;
    }
}
