@import '../../../../../styles/_variables.scss';

.verification-modal {
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  font-family: 'SF Pro Display';
  text-align: center;
  overflow: auto;

  ion-row {
    background-color: transparent !important;
    height: 100%;
  }

  .col-left {
    background: $main-dark-gradient;
    color: #ffffff;

    @media (max-width: 575.98px) {
      background-image: url('../../../../../assets/back-purple.png');
      color: #1a202c;
    }

    padding: 0px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
    }

    p {
      margin-top: 25px;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
    }

    img {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .verification-left-bottom {
      width: 100%;
      margin-top: 80px;

      .verification-quit-button {
        width: 137px;
        height: 32px;
        --ion-color-primary: #16192c1e;

        display: block;
        margin: 50px auto;
      }

      @media (max-width: 575.98px) {
        margin-top: 10;
        .verification-quit-button {
          display: none;
        }
      }
    }
  }

  .verification-col-right {
    background-color: #fbfbfd;
    text-align: left;
    padding: 40px;
    color: #27272e;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 162.02%;
      font-feature-settings: 'salt' on;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 136.02%;
    }
  }
}

.timeline {
  height: 80px;
  width: 90%;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: flex;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    @media (max-width: 575.98px) {
      border-color: #cbd5e0;
    }
    height: 1px;
    top: 12.5px;
    transition: all ease-in-out 0.3s;
  }

  .step {
    position: absolute;

    .dot {
      position: relative;

      .empty {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #e2e8f0;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: linear-gradient(145.76deg, #995aff 14.97%, #dc59bf 87.23%);
        background-color: white;
        z-index: 2;
      }
    }

    &:nth-child(1) {
      left: 0px;
    }

    &:nth-child(2) {
      left: 50%;
    }

    &:nth-child(3) {
      left: 99%;
    }
  }
}

.selectBox-box {
  position: relative;
}
.selectBox-container {
  height: 65px;
  box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08),
    0px 0px 1px rgba(50, 50, 71, 0.2);
  width: 100%;
  position: relative;
  background: #edf2f7;
  border-radius: 6px;
  padding: 16.5px 14.5px;
  margin-top: 8px;
}

.selectBox-selected-item {
  background: #edf2f7;
  padding: 0px;
  display: flex;
  align-items: center;
  height: 100%;
}

.selectBox-items {
  position: absolute;
  z-index: 10001;
  display: block;
  left: 0;
  width: 100%;
  display: block;
  max-height: 300px;
  overflow-y: auto;

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  border-bottom: 1px solid rgba(50, 50, 71, 0.08);
  border-left: 1px solid rgba(50, 50, 71, 0.08);
  border-right: 1px solid rgba(50, 50, 71, 0.08);

  display: block;
  top: 63px;
  background: #edf2f7;
  
  &_row {
    background: #edf2f7;
    padding: 14.5px;
    border-top: 1px solid rgba(50, 50, 71, 0.08);

    display: flex;
    align-items: center;
    height: 78px;
    position: relative;
    padding-right: 30px;
    //cursor: pointer !important;
    
  }
  // &_row:hover {
  //   background: #e9f2f7 0% 0% no-repeat padding-box;
  // }

  

  .clear-path{
    width: 53px;
    height: 100%;
    border-radius: 25px;
    background: #FF5A5A;
    box-sizing: border-box;
    
  }
  .clear-path svg{
    position:relative;
    top: calc(50% - 12px); /* 50% - 3/4 of icon height */
    left: calc(50% - 12px); /* 50% - 3/4 of icon height */
    width: 25px;
    height: 25px;
  }
}

.selectBox-arrow svg {
  position: absolute;
  right: 14.5px;
  top: 50%;
  transform: translateY(-50%);
}

.trush {
  position: absolute;
  right: 14.5px;
  top: 50%;
  transform: translateY(-50%);
}



.name {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #16192c;
  margin-left: 10px;
}

.name-clear{
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  color: #FF5A5A;
  margin-left: 10px;
}

.did {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;

  color: #8492a6;

  margin-top: 10px;
  margin-left: 10px;
}

.ClearStorageModal {
  height: 100%;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 25%;
  padding-right: 25%;

  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(10px);
}

.tutorial-component {
  background-color: transparent !important;
  width: 100%;
  height: 100%;
  font-family: 'SF Pro Display';

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-top: 15px;
  }

  text-align: center;

  ion-grid {
    background-color: white !important;
    height: 100%;
    ion-row {
      background-color: transparent !important;
      height: 100%;
    }
  }

  .tutorial-button {
    --ion-color-primary: #4c6fff;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    position: absolute;
    left: 85px;
    bottom: 40px;

    width: 300px;
  }

  .tutorial-left-bottom {
    position: absolute;

    bottom: 25px;
    left: 0;
    right: 0;

    .tutorial-quit-button {
      @extend .tutorial-button;
      width: 137px;
      height: 32px;
      --ion-color-primary: #16192c1e;

      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
    }
  }
}